.true {
    color: green
}

.false {
    color:red
}

.imageList {
    float: left;
    width: 25.5vw;
    margin-right: -24vw;
    font-size: small;
    overflow-y:auto;
    height: 99vh;
}

.imageList button {
    width: 50%;
    float: left;
}

.imageList img {
    width: 100%;
    height: 10%;
    object-fit: cover;
}

button {
    cursor: pointer;
    font-size: larger;
    width: 5vw;
}

body {
    h3 {  
        font-size: x-large;
        font-weight: 900;
    }
    text-align: center;
    background-color: lightgrey;
    font-family: 'Courier New', Courier, monospace;
} 