<html>
    <head>
        <title>{{ filename }}</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h3>{{ filename }}</h3>
        <iframe src="https://drive.google.com/file/d/{{ fileid }}/preview" width="640" height="480" allow="autoplay"></iframe>
        <h4>This plant is<!--TODO: check for boolean and state healthy or unhealthy-->
        {% if isHealthy %}
            <span class="true">healthy. &#128513</span>
            {% else %}
            <span class="false">not healthy. &#128542</span>
        {% endif %}
        </h4>
        <h4>Model confidence rating: 100% <!--Insert var for confidence rating here--></h4>
        <h4>Model ran at: 11/3/2024, 8:00 PM</h4> <!-- Insert var for model timestamp here-->
        <h4>Do you agree with the model's prediction?</h4>
        <button type="button">Yes</button> <span><button type="button">No</button></span>

    </body>
</html>
